@import './fonts.css' layer(base);

@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
}

@theme {
	--font-*: initial;
	--font-display: Varela Round, sans-serif;
	--font-mono: Fragment Mono, monospace;

	--color-primary: #03045e;
	--color-primary-light: #6366f1;
	--color-gray-light: #eef1f5;
	--color-gray-background: #f2f4f7;
	--color-white-dark: rgb(208, 214, 224);
	--color-white-darker: #c3c9d2;
	--color-white-light: #e6ebf8;
	--color-black: #000212;
	--color-black-100: #242b3e;
	--color-black-150: #1d2332;
	--color-black-200: #191e2b;
	--color-black-300: #060609;

	--grid-template-rows-layout: 1fr auto;

	--animate-ping-large: ping-large 1s cubic-bezier(0, 0, 0.2, 1) 3;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentcolor);
	}
}

@layer base {
	.container {
		max-width: 100vw;
	}
}

@layer base {
	html {
		font-family: Inter, system-ui, sans-serif;
	}
}

body {
	@apply relative overflow-x-hidden scroll-smooth;
}

h1 {
	@apply text-4xl;
}

h2 {
	@apply text-3xl;
}

h3 {
	@apply text-2xl;
}

h4 {
	@apply text-xl;
}

h5 {
	@apply text-lg;
}

p {
	@apply text-base;
}

p a {
	@apply text-primary hover:underline dark:text-blue-300;
}

label {
	@apply dark:text-white-darker flex gap-1 text-xs font-semibold text-gray-600 uppercase transition-colors;
}

/* Slider */
.keen-slider {
	display: flex;
	position: relative;
	user-select: none;
	width: 100%;
	transition: height 0.3s;
}

@keyframes ping-large {
	75%,
	100% {
		transform: scale(6);
		opacity: 0;
	}
}
